<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
    <%- include('../partials/head'); %>
</head>
<body>


  <%- include('../partials/navbar'); %>
    <h2>Login de Usuario</h2>
    <form action="/api/login" method="post">
       <!-- EMAIL-->
       <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>  
          <div class="col-sm-5 container mb-2 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
          </div>
        </div>
      </div>
        <!-- <div class="col-sm-5 mb-2 container text-center">
          <label for="exampleInputEmail1" class="form-label">Ingresa Tu Nombre</label>
          <input type="text" placeholder= "Nombre" class="form-control" id="user" name="username" aria-describedby="emailHelp">
        </div> -->
        <div class="container text-center">
          <label for="inputPassword" class="col-sm-2 col-form-label ">Password</label>
          <div class="col-sm-5 container mb-2">
            <input type="password" placeholder="Contraseña" class="form-control" id="inputPassword" name="password">
          </div>
         

        </div>
        <div class="container text-center mb-2 ">
        <button type="submit" class="btn btn-primary  ">Login</button>
        </div>

        
      </form>
      <%- include('../partials/footer'); %> 
</body>
</html>  


